PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/jerseyculture
MONGO_LOCAL_URI=mongodb://127.0.0.1:27017/jerseyculture
NODE_ENV=development
JWT_SECRET=change-this-secret
FRONTEND_BASE_URL=http://localhost:3000
CASHFREE_ENV=sandbox
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_API_VERSION=2025-01-01
GMAIL_SMTP_USER=
GMAIL_SMTP_APP_PASSWORD=
GMAIL_FROM_EMAIL=
